@{Capaentidades.Usuario u = (Capaentidades.Usuario)Session["usuario"];}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Ketal Moda | SisAlmacen</title>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />


    @* VERSION 01 SISALMACEN *@
    @*<link href="<%=ResolveUrl(" ~/Private/global/src/css/customGlobal.css") %>" rel="stylesheet" />*@
    <script src="~/Recursos/Nuevo/jquery.validationEngine-en.js"></script>
    <script src="~/Recursos/Nuevo/jquery.validationEngine.js"></script>
    <link href="~/Recursos/Nuevo/validationEngine.jquery.css" rel="stylesheet" />
    <link href="~/Recursos/Nuevo/customGlobal.css" rel="stylesheet" />

    <!-- ================== BEGIN BASE CSS STYLE ================== -->
    <link href="../../../../fonts.googleapis.com/cssff98.css?family=Open+Sans:300,400,600,700" rel="stylesheet" type="text/css">
    <link href="~/Recursos/Bootstrapi/assets/plugins/jquery-ui/themes/base/minified/jquery-ui.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Recursos/Bootstrapi/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Recursos/Bootstrapi/assets/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Recursos/Bootstrapi/assets/css/animate.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Recursos/Bootstrapi/assets/css/style.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Recursos/Bootstrapi/assets/css/style-responsive.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Recursos/Bootstrapi/assets/css/theme/default.css" rel="stylesheet" id="theme" type="text/css" />
    <link href="~/Recursos/Bootstrapi/assets/plugins/bootstrap-datepicker/css/datepicker.css" rel="stylesheet" type="text/css" />
    <link href="~/Recursos/Bootstrapi/assets/plugins/bootstrap-datepicker/css/datepicker3.css" rel="stylesheet" type="text/css" />
    <!--<link href="~/Scripts/jquery-ui.css" rel="stylesheet" type="text/css"/>-->
    <!-- ================== END BASE CSS STYLE ================== -->

    <!-- ================== BEGIN BASE JS ================== -->
    <script type="text/javascript" src="~/Recursos/Bootstrapi/assets/plugins/pace/pace.min.js"></script>
    <script type="text/javascript" src="~/Recursos/Bootstrapi/assets/plugins/jquery/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="~/Recursos/Bootstrapi/assets/plugins/jquery/jquery-migrate-1.1.0.min.js"></script>
    <script type="text/javascript" src="~/Recursos/Bootstrapi/assets/plugins/jquery-ui/ui/minified/jquery-ui.min.js"></script>
    <script type="text/javascript" src="~/Recursos/Bootstrapi/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Recursos/Bootstrapi/assets/plugins/slimscroll/jquery.slimscroll.min.js"></script>
    <script type="text/javascript" src="~/Recursos/Bootstrapi/assets/plugins/jquery-cookie/jquery.cookie.js"></script>
    <script type="text/javascript" src="~/Recursos/Bootstrapi/assets/js/ui-modal-notification.demo.min.js"></script>
    <script type="text/javascript" src="~/Recursos/Bootstrapi/assets/plugins/bootstrap-eonasdan-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
    <script type="text/javascript" src="~/Recursos/Bootstrapi/assets/js/form-plugins.demo.min.js"></script>
    <script type="text/javascript" src="~/Recursos/Bootstrapi/assets/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
    <script type="text/javascript" src="~/Recursos/Bootstrapi/assets/js/email-compose.demo.min.js"></script>
    <script type="text/javascript" src="~/Recursos/Bootstrapi/assets/js/apps.min.js"></script>
    <script type="text/javascript" src="~/Recursos/Validaciones/jquery.js"></script>
    <script type="text/javascript" src="~/Recursos/Validaciones/jquery.validate.js"></script>
    <!--<script type="text/javascript" src="~/Scripts/jquery-2.2.3.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery-ui.js"></script>-->
    <!-- ================== END BASE JS ================== -->

    <!-- ================== BEGIN PAGE LEVEL JS ================== -->
    <script type="text/javascript" src="~/Recursos/Bootstrapi/assets/js/apps.min.js"></script>
    <!-- ================== END PAGE LEVEL JS ================== -->
</head>
<body>

    <!-- begin #page-loader -->
    <div id="page-loader" class="fade in"><span class="spinner"></span></div>
    <!-- end #page-loader -->
    <!-- begin #page-container -->
    <div id="page-container" class="fade page-sidebar-fixed page-header-fixed">
        <!-- begin #header -->
        <div id="header" class="header navbar navbar-default navbar-fixed-top">
            <!-- begin container-fluid -->
            <div class="container-fluid">
                <!-- begin mobile sidebar expand / collapse button -->
                <div class="navbar-header">
                    <a href="@Url.Action("Principal","Intranet")" class="navbar-brand"><span class="navbar-logo"></span> Ketal Moda</a>
 


                    <button type="button" class="navbar-toggle" data-click="sidebar-toggled">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                    <!-- end mobile sidebar expand / collapse button -->
                    <!-- begin header navigation right -->
                    <ul class="nav navbar-nav navbar-right">

                        <li class="dropdown navbar-user">
                            <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
                                <img src="~/Recursos/Imagenes/Usuarios/@u.fotografia" alt="" />
                                <span class="hidden-xs">@u.Nombre @u.ApellidoPaterno</span> <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu animated fadeInLeft">
                                <li class="arrow"></li>
                                <li><a href="@Url.Action("EditarUsuario", "Intranet", new { idUsuario = u.idUsuario}, null)">Editar Perfil</a></li>
                                <li class="divider"></li>
                                <li><a href="@Url.Action("CerrarSession","Intranet",null,null)" class="fa fa-sign-out"> Salir</a></li>
                            </ul>
                        </li>
                    </ul>
                    <!-- end header navigation right -->
                </div>
            <!-- end container-fluid -->
        </div>
        <!-- end #header -->



        <!-- begin #sidebar -->
        <div id="sidebar" class="sidebar">
            <!-- begin sidebar scrollbar -->
            <div data-scrollbar="true" data-height="100%">
                <!-- begin sidebar user -->
                <ul class="nav">
                    <li class="nav-profile">
                        <div class="image">
                            <a href="javascript:;"><img src="~/Recursos/Imagenes/Usuarios/@u.fotografia" alt="" /></a>
                        </div>
                        <div class="info">
                            @u.Nombre @u.ApellidoPaterno
                            <small>Almacenero(a)</small>
                        </div>
                    </li>
                </ul>
                <!-- end sidebar user -->
                <!-- begin sidebar nav -->
                <ul class="nav">
                    <li class="has-sub">
                        <a href="javascript:;">
                            <b class="caret pull-right"></b>
                            <i class="fa fa-cubes"></i>
                            <span>Mantenedor</span>
                        </a>
                        <ul class="sub-menu">
                            <li><a href="@Url.Action("ListarCategoria", "Categoria")">Categoria</a></li>
                            <li><a href="@Url.Action("ListarColor", "Color")">Color</a></li>
                            <li><a href="@Url.Action("ListarDiseño", "Diseño")">Diseño</a></li>
                            <li><a href="@Url.Action("ListarTalla", "Talla")">Talla</a></li>
                            <li><a href="@Url.Action("ListarProducto", "Producto")">Producto</a></li>
                            <li><a href="@Url.Action("ListarDistribuidor", "Distribuidor")">Distribuidor</a></li>
                        </ul>
                    </li>
                    <li class="has-sub">
                        <a href="javascript:;">
                            <b class="caret pull-right"></b>
                            <i class="fa fa-suitcase"></i>
                            <span>Registro de Guías</span>
                        </a>
                        <ul class="sub-menu">
                            <li><a href="@Url.Action("Guiarecepcion", "Guiarecepcion")">Guía de Recepción</a></li>
                            <li><a href="@Url.Action("GuiaSalida","GuiaSalida")">Guía de Salida</a></li>
                        </ul>
                    </li>
                    <li class="has-sub">
                        <a href="javascript:;">
                            <b class="caret pull-right"></b>
                            <i class="fa fa-align-left"></i>
                            <span>Reportes</span>
                        </a>
                        <ul class="sub-menu">
                            <li><a href="@Url.Action("ReporteProductoMin", "Producto")">Productos minimo Stock</a></li>
                            <li><a href="@Url.Action("ReporteGuiaRecepcion", "ReporteRecepcion")">Guias de Recepcion</a></li>
                            <li><a href="@Url.Action("ReporteGuiaSalida", "ReporteSalida")">Guias de Salida</a></li>
                        </ul>
                    </li>
                    <li class="has-sub">
                        <a href="javascript:;">
                            <b class="caret pull-right"></b>
                            <i class="fa fa-envelope"></i>
                            <span>Correo</span>
                        </a>
                        <ul class="sub-menu">
                            <li><a href="@Url.Action("EnviarCorreo","Correo")">Envio Correo</a></li>
                        </ul>
                    </li>
                    <!-- begin sidebar minify button -->
                    <li><a href="javascript:;" class="sidebar-minify-btn" data-click="sidebar-minify"><i class="fa fa-angle-double-left"></i></a></li>
                    <!-- end sidebar minify button -->
                </ul>
                <!-- end sidebar nav -->
            </div>
            <!-- end sidebar scrollbar -->
        </div>
        <div class="sidebar-bg"></div>
        <!-- end #sidebar -->



        <!-- begin #content -->
        <div id="content" class="content">
            

            @RenderBody()
            @*<div class="col-lg-12">
                <section class="panel">
                    <div>
                        <div class="panel-body" id="frmHome">
                            <div class=" col-md-12 form-horizontal">
                                <div class="col-md-5 row form-group" style="padding: 20px">
                                    <div class="row form-group">
                                        <asp:ImageButton id="imagebutton1" runat="server" Height="64px" ImageAlign="left" src="~/Recursos/iconos/cityscape.png" OnClick="Empresa_Click" />
                                        <label style="line-height:6; margin-left:15px">Categoria</label>
                                        <img src="~/Recursos/iconos/cityscape.png" />
                                    </div>
                                    <div class="row form-group">
                                        <asp:ImageButton id="imagebutton2" runat="server" Height="64px" ImageAlign="left" ImageUrl="~/Recursos/iconos/businessman.png" OnClick="Trabajador_Click" />
                                        <label style="line-height:6; margin-left:15px">Color</label>
                                    </div>
                                    <div class="row form-group">
                                        <asp:ImageButton id="imagebutton3" runat="server" Height="64px" ImageAlign="left" ImageUrl="~/Recursos/iconos/stopwatch.png" OnClick="Horarios_Click" />
                                        <label style="line-height:6; margin-left:15px">Diseño</label>
                                    </div>
                                    <div class="row form-group">
                                        <asp:ImageButton id="imagebutton13" runat="server" Height="64px" ImageAlign="left" ImageUrl="~/Recursos/iconos/cloud-computing.png" OnClick="Memoramdums_Click" />
                                        <label style="line-height:6; margin-left:15px">Talla</label>
                                    </div>
                                </div>
                                <div class="col-md-5 row form-group" style="padding: 20px">
                                    <div class="row form-group">
                                        <asp:ImageButton id="imagebutton4" runat="server" Height="64px" ImageAlign="left" ImageUrl="~/Recursos/iconos/checklist.png" OnClick="Asistencia_Click" />
                                        <label style="line-height:6; margin-left:15px">Producto</label>
                                    </div>
                                    <div class="row form-group">
                                        <asp:ImageButton id="imagebutton5" runat="server" Height="64px" ImageAlign="left" ImageUrl="~/Recursos/iconos/calculator.png" />
                                        <label style="line-height:6; margin-left:15px">Distribuidor</label>
                                    </div>
                                    <div class="row form-group">
                                        <asp:ImageButton id="imagebutton6" runat="server" Height="64px" ImageAlign="left" ImageUrl="~/Recursos/iconos/contract.png" />
                                        <label style="line-height:6; margin-left:15px">Guia de Recepcion</label>
                                    </div>
                                    <div class="row form-group">
                                        <asp:ImageButton id="imagebutton14" runat="server" Height="64px" ImageAlign="left" ImageUrl="~/Recursos/iconos/cash.png" />
                                        <label style="line-height:6; margin-left:15px">Guía de salida</label>
                                    </div>
                                </div>
                                <div class="col-md-2 row form-group" style="padding: 20px">
                                    <div class="row form-group">
                                        <asp:ImageButton id="imagebutton7" runat="server" Height="64px" ImageAlign="left" ImageUrl="~/Recursos/iconos/bar-chart.png" />
                                        <label style="line-height:6; margin-left:15px">Reporte minimo de Stock</label>
                                    </div>
                                    <div class="row form-group">
                                        <asp:ImageButton id="imagebutton8" runat="server" Height="64px" ImageAlign="left" ImageUrl="~/Recursos/iconos/archive.png" />
                                        <label style="line-height:6; margin-left:15px">Repote guia de entrada</label>
                                    </div>
                                    <div class="row form-group">
                                        <asp:ImageButton id="imagebutton9" runat="server" Height="64px" ImageAlign="left" ImageUrl="~/Recursos/iconos/deal.png" />
                                        <label style="line-height:6; margin-left:15px">Reporte Guia de salida</label>
                                    </div>
                                    <div class="row form-group">
                                        <asp:ImageButton id="imagebutton15" runat="server" Height="64px" ImageAlign="left" ImageUrl="~/Recursos/iconos/calendar.png" />
                                        <label style="line-height:6; margin-left:15px">Envio Correo</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </section>
            </div>*@
        </div>
        <!-- end #content -->
        <!-- begin #footer -->
        <div id="footer" class="footer">
            Copyrigth &copy; Ketal Moda S.A.C. - Todos los Derechos Reservados 2016
        </div>
        <!-- end #footer -->
        <!-- begin scroll to top btn -->
        <a href="javascript:;" class="btn btn-icon btn-circle btn-success btn-scroll-to-top fade" data-click="scroll-top"><i class="fa fa-angle-up"></i></a>
        <!-- end scroll to top btn -->

        <script>
            $(document).ready(function () {
                App.init();
                FormPlugins.init();
                EmailCompose.init();
            });
        </script>
</body>
</html>

<style>
    .box-ruc {
        border: 1px solid black;
        padding: 1em;
        text-align: center;
        line-height: 15px;
    }

        .box-ruc span {
            display: block;
            font-size: 1.5em;
            padding-top: 0.5em;
        }

    .negrita {
        font-weight: bold;
    }

    .data-empresa {
        text-align: center;
    }

        .data-empresa p {
            margin-bottom: 0;
        }

    .titulo {
        font-size: 2em;
        font-weight: bold;
    }

    .form-group {
        margin-left: 0 !important;
        margin-right: 0 !important;
        margin-bottom: 1em;
    }

    .separate {
        margin-bottom: 1em;
    }
</style>
