@model List<Capaentidades.Producto>
@{
    ViewBag.Title = "ListarProducto";
}

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h4 class="modal-title">Busqueda Producto</h4>
</div>
<div class="modal-body">
    <!--<div class="input-group">
       <input type="text" class="form-control" placeholder="Escriba el nombre a buscar" name="txtBusqueda" />
        <div class="input-group-btn">
            <button class="btn btn-success" name="btnActualizar"><i class="fa fa-search"></i></button>
        </div>
    </div>-->
        <div class="form-group">
            <table style="width:100%">
                @{
                    int numceldas = 0;
                    foreach (var m in Model)
                    {
                        if (numceldas == 0)
                        {
                            <tr></tr>
                        }
                        numceldas++;
                        <td align="center" width="25%">
                            <img src="~/Recursos/Imagenes/Productos/@m.Imagen" style="width:100px; height:100px" />
                            <h3 style="color:gray; font-family:Arial; font-size: 12px">
                                Nombre:@m.Nombre
                            </h3>
                            <h3 style="color:gray; font-family:Arial; font-size: 12px">
                                Detalle:@m.Descripcion
                            </h3>
                            <h3 style="color:gray; font-family:Arial; font-size: 12px">
                                Precio:@m.Precio
                            </h3>
                            <h3 style="color:gray; font-family:Arial; font-size: 12px">
                                Stock:@m.Stock
                            </h3>
                            <form method="post" action="AgregarGuia/GuiarecepcionController">
                                <input type="hidden" name="txtNombre" value="@m.Nombre" />
                                <input type="hidden" name="txtDescripcion" value="@m.Descripcion" />
                                <input type="hidden" name="txtPrecio" value="@m.Precio" />
                                <input type="hidden" name="txtStock" value="@m.Stock" />
                                <input type="hidden" name="txtObservacion"  />
                                <input type="hidden" name="txtidProducto" value="@m.idProducto" />

                                <input type="text" name="txtCant" value="1" style="width:30px" />
                                <button class="btn btn-sm btn-success" name="btnRegistrar"><i class="fa fa-plus-circle"></i> Agregar</button>
                            </form>
                        </td>
                        if (numceldas == 4)
                        {
                            <tr></tr>
                            numceldas = 0;
                        }
                    }
                }
            </table>
        </div>
    </div>
<div class="modal-footer">
    <a href="javascript:;" class="btn btn-sm btn-white" data-dismiss="modal">Close</a>
</div>
